<div class="row m-3"  height="25%">
  <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{ areas | length }}</h3>

          <p>Περιοχές</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        
  
          <a href="#" class="small-box-footer" data-bs-toggle="modal" data-bs-target="#myModal">Περισσότερες Πληροφορίες <i class="fa fa-arrow-circle-right"></i></a>
          
        
        
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog" style="max-width: 60%; height: 90%;">
            <div class="modal-content" style="height: 100%;">
        
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title text-body">Περιοχές Πρόσβασης</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
        
              <!-- Modal body -->
              <div class="modal-body text-body" style="overflow-y: auto; max-height: calc(90% - 60px);">
                <h2>Λίγα Λόγια για τις Δημοφιλέστερες Περιοχές Πρόσβασης</h2>
                <div class="card">
                  <div class="card-body">
                    <p ><strong>Albert Cuypstraat:  </strong>Στην πολυσύχναστη γειτονιά του De Pijp, ο Albert Cuypstraat είναι ένας διάσημος δρόμος γνωστός για την πολυσύχναστη υπαίθρια αγορά του, την αγορά Albert Cuyp. Προσφέρει μεγάλη ποικιλία προϊόντων, όπως φρέσκα προϊόντα, ρούχα, λουλούδια και τοπικές λιχουδιές.</p>
                    <p ><strong>Arena, Zuidoost: </strong>Η Arena είναι μια γειτονιά που βρίσκεται στο νοτιοανατολικό τμήμα του Άμστερνταμ, γνωστή για το πολυλειτουργικό της στάδιο, Johan Cruijff ArenA. Η περιοχή διαθέτει επίσης ένα εμπορικό κέντρο που ονομάζεται Amsterdamse Poort και φιλοξενεί διάφορες συναυλίες, αθλητικές εκδηλώσεις και πολιτιστικές δραστηριότητες.</p>
                    <p><strong>IJ-veren: </strong>Το IJ-veren αναφέρεται στις υπηρεσίες πορθμείων που εκτελούν δρομολόγια στον ποταμό IJ, που συνδέουν διάφορα μέρη του Άμστερνταμ. Αυτά τα δωρεάν πλοία προσφέρουν γραφική θέα στον ορίζοντα της πόλης και αποτελούν ένα ευχάριστο μέσο μεταφοράς για ντόπιους και τουρίστες.</p>
                    <p><strong>Plein 40-45: </strong>Το Plein 40-45 είναι μια πλατεία στη γειτονιά Άμστερνταμ-Δύση, που πήρε το όνομά της από τα έτη 1940-1945, συμβολίζοντας την περίοδο του Β' Παγκοσμίου Πολέμου. Έχει ιστορική σημασία και διαθέτει μια υπαίθρια αγορά γνωστή ως αγορά Plein 40-45, που προσφέρει διάφορα αγαθά.</p>
                    <p><strong>Schinkeleiland: </strong>Το Schinkeleiland είναι μια ήσυχη κατοικημένη περιοχή στο δυτικό Άμστερνταμ. Βρίσκεται ανάμεσα στα κανάλια Schinkel και Schinkelkanaal, προσφέρει όμορφη θέα στη θάλασσα και μια αίσθηση γαλήνης. Με έναν συνδυασμό μοντέρνων διαμερισμάτων και γοητευτικών σπιτιών, προσφέρει μια γαλήνια απόδραση, ενώ εξακολουθεί να είναι βολικά συνδεδεμένο με την πόλη.</p>
                    <p><strong>Station Zuid: </strong>Ο σταθμός Zuid, επίσημα γνωστός ως Amsterdam Zuid station, είναι ένας σημαντικός συγκοινωνιακός κόμβος που βρίσκεται στο νότιο τμήμα του Άμστερνταμ. Παρέχει συνδέσεις για τρένα, τραμ, λεωφορεία και γραμμές μετρό, καθιστώντας το ζωτικό σύνδεσμο για επιβάτες και ταξιδιώτες.</p>
                    <p><strong>Wallen: </strong>Το Wallen, γνωστό και ως Red Light District του Άμστερνταμ, είναι μια ιστορική γειτονιά στο κέντρο της πόλης. Είναι διάσημο για τη νομιμοποιημένη πορνεία του, με τις εργάτριες του σεξ ορατές στα παράθυρα που φωτίζονται με κόκκινο χρώμα. Η περιοχή διαθέτει επίσης χώρους ψυχαγωγίας για ενήλικες, μπαρ και εστιατόρια.</p>
                    <p><strong>Winkelgebied centrum: </strong>Το Winkelgebied centrum μεταφράζεται στην «εμπορική περιοχή στο κέντρο της πόλης» του Άμστερνταμ. Αυτή η περιοχή περιλαμβάνει διάφορους εμπορικούς δρόμους, όπως Kalverstraat, Leidsestraat και Nieuwendijk, προσφέροντας μεγάλη ποικιλία από καταστήματα, μπουτίκ, πολυκαταστήματα και δημοφιλείς διεθνείς μάρκες.</p>
                    <p><strong>Vondelpark: </strong>Το Vondelpark είναι ένα διάσημο δημόσιο πάρκο που βρίσκεται στο κέντρο του Άμστερνταμ. Είναι ένας μεγάλος χώρος πρασίνου γνωστός για τους όμορφους κήπους, τις λιμνούλες και τις εγκαταστάσεις αναψυχής του. Το πάρκο είναι δημοφιλές για περπάτημα, ποδηλασία, πικ νικ και φιλοξενεί πολιτιστικές εκδηλώσεις και παραστάσεις.</p>
                    <p><strong>Zuidoost: </strong>Το Zuidoost, που σημαίνει «νοτιοανατολικά» στα ολλανδικά, είναι μια συνοικία που βρίσκεται νοτιοανατολικά του κέντρου της πόλης. Πρόκειται για μια ποικιλόμορφη οικιστική περιοχή με μοντέρνα αρχιτεκτονική, όπως το εμπορικό κέντρο Amsterdamse Poort, η αρένα Ziggo Dome και το γήπεδο ποδοσφαίρου Amsterdam ArenA.</p>
                  </div>
                </div>
              </div>
        
              <!-- Modal footer -->
              <div class="modal-footer text-body">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div>
        
            </div>
          </div>
        </div>
        <!-- <a href="#" class="small-box-footer">Περισσότερες Πληροφορίες <i class="fa fa-arrow-circle-right"></i></a> -->
        
      </div>
  </div>

  <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
          <div class="inner">
              <h3>{{ location_names | length }}</h3>

              <p> Τοποθεσίες </p>
          </div>
          <div class="icon">
          <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer">Περισσότερες Πληροφορίες <i class="fa fa-arrow-circle-right"></i></a>
      </div>
  </div>

  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{ sensors | length }}</h3>

        <p> Αισθητήρες </p>
      </div>
      <div class="icon">
        <i class=" ion ion-person-add "></i>
      </div>
      

        <a href="#" class="small-box-footer" data-bs-toggle="modal" data-bs-target="#sensorsModal">Τοποθεσίες Αισθητήρων <i class="fa fa-arrow-circle-right"></i></a>
        
      <!-- The Modal -->
      <div class="modal fade" id="sensorsModal">
        <div class="modal-dialog" style="max-width: 60%; height: 90%;">
          <div class="modal-content" style="height: 100%;">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title text-body">Τοποθεσίες Αισθητήρων</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body text-body" style="overflow-y: auto; max-height: calc(90% - 60px);">
              <h2>Χάρτης Αμστερνταμ</h2>
              <div class="card">
                <div class="card-body">{{ sensors_map | safe }}</div>
              </div>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer text-body">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>
      <!-- <a href="#" class="small-box-footer">Τοποθεσίες Αισθητήρων <i class="fa fa-arrow-circle-right"></i></a> -->
      
    </div>
</div>


  <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
          <div class="inner">
          <h3>{{ df_length }}</h3>

          <p>Μετρήσεις</p>
          </div>
          <div class="icon">
          <i class="ion ion-pie-graph"></i>
          </div>
          <a href="{% url 'smartcity:passengers_tbl' page=1 %}" class="small-box-footer">Περισσότερες Πληροφορίες <i class="fa fa-arrow-circle-right"></i></a>
      </div>
  </div>
</div>

<div class="row m-3" >
  <div class="col-6" id="divBarChart" data-value="{{ dataset }}" >
      <canvas id="barChart" style="display: inline-block; height: 380px; width: 586px;"></canvas>
  </div>
  <div class="col-6">
    <!-- ********************************************** MODAL ********************************************** -->    
    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true" data-value="{{ passers_per_day }}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="infoModalLabel">Μέτρηση Πλήθους</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Modal content goes here. We'll update this with D3.js -->
          </div>
          
        </div>
      </div>
    </div>    
    <!-- ******************************************** MODAL END ******************************************** -->
    <!-- <canvas id="d3-container" style="display: inline-block; height: 370px;  width: 586px;"></canvas> -->
    <div id="divD3BarChart" style="text-align: center;" class="fs-2 fw-light text-dark" data-value="{{ data }}">
      Μέτρηση Πλήθους {{ year }}
      <div id="d3-container"/>
    </div>
  </div>
</div>

</main>
