<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Διαδραστική πλατφόρμα για την ανθρώπινη κινητικότητα και προσβασιμότητα σε έξυπνες πόλεις</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Επισκόπηση Capstone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="#introduction">Εισαγωγή</a></li>
      <li class="nav-item"><a class="nav-link" href="#mobilityAccessibility">Κινητικότητα - Προσβασιμότητα</a></li>
      <li class="nav-item"><a class="nav-link" href="#dataManage">Διαχείριση Δεδομένων</a></li>
      <li class="nav-item"><a class="nav-link" href="#designPlatform">Σχεδιασμός Πλατφόρμας</a></li>
      <li class="nav-item"><a class="nav-link" href="#deployPlatform">Ανάπτυξη Πλατφόρμας</a></li>
      <li class="nav-item"><a class="nav-link" href="#case-study">Μελέτη Περίπτωσης</a></li>
      <li class="nav-item"><a class="nav-link" href="#results-and-discussion">Αποτελέσματα και Συζήτηση</a></li>
    </ul>
  </div>
</nav>

<!-- Main Content -->
<div class="container">
  <!-- Ενότητα Εισαγωγής -->
  <section id="introduction">
    <h2 class="mb-4">Κεφάλαιο 1: Εισαγωγή</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
          Καλώς ήρθατε στη σελίδα που στοχεύει στην  οπτικοποίηση των προτύπων ανθρώπινης κινητικότητας και της προσβασιμότητας σε έξυπνες πόλεις.
          Η κατανόηση της ανθρώπινης κινητικότητας είναι ζωτικής σημασίας για το σχεδιασμό αποτελεσματικών συστημάτων μεταφορών και τη βελτίωση της δημόσιας ασφάλειας. Η προσβασιμότητα διασφαλίζει ίσες ευκαιρίες, χωρίς αποκλεισμούς, για όλους τους πολίτες.
          Ιδιαίτερη έμφαση δίνεται στο ρόλο της Τεχνολογίας στην αξιοποιήση του Διαδικτύου των Πραγμάτων (IoT), των δικτύων αισθητήρων και των δεδομένων κινητών συσκευών για τη συλλογή πληροφοριών σε πραγματικό χρόνο.
        </p>
        <p>Tο κεφάλαιο Εισαγωγή πραγματεύεται περιληπτικά:</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Το πλαίσιο των έξυπνων πόλεων που αξιοποιούν την τεχνολογία και τα δεδομένα για τη βελτίωση της ποιότητας ζωής, εστιάζοντας ιδιαίτερα στην ανθρώπινη κινητικότητα και προσβασιμότητα. </li>
          <li class="list-group-item">Υπογραμμίζει τον ρόλο της τεχνολογίας στην αντιμετώπιση αυτών των προκλήσεων.</li>
          <li class="list-group-item">Περιγράφει τους στόχους της έρευνας, τη μεθοδολογία και τη σημασία της μελέτης.</li>
          <li class="list-group-item">Τονίζει την ανάγκη για αποτελεσματική συλλογή και ενσωμάτωση δεδομένων.</li>
          <li class="list-group-item">Συζητά την ενοποίηση δικτύων αισθητήρων, συσκευών IoT, δεδομένων φορητών συσκευών και δημόσιων βάσεων δεδομένων, μαζί με ζητήματα απορρήτου και δεοντολογίας δεδομένων.</li>
          <li class="list-group-item">Υπογραμμίζει την ανάγκη για μια διαδραστική πλατφόρμα για την οπτικοποίηση αυτών των δεδομένων που θα βοηθά τους ενδιαφερόμενους φορείς και πολίτες στη λήψη τεκμηριωμένων αποφάσεων για πιο βιώσιμες και χωρίς αποκλεισμούς πόλεις</li>
          <li class="list-group-item">Συζητά τη διαδικασία ανάπτυξης, συμπεριλαμβανομένης της ανάπτυξης frontend και backend, αρχιτεκτονικής λογισμικού, επεξεργασίας και ανάλυσης δεδομένων και ενσωμάτωσης δεδομένων σε πραγματικό χρόνο.</li>
        </ul>
        <p>
          Συνολικά, παρουσιάζεται μια ολοκληρωμένη εισαγωγή στο σχεδιασμό και την ανάπτυξη της διαδραστικής πλατφόρμας, θέτοντας το υπόβαθρο για τα επόμενα κεφάλαια που εμβαθύνουν σε συγκεκριμένες πτυχές της δημιουργίας και της υλοποίησης της πλατφόρμας.
        </p>
      </div>
    </div>
  </div>
    
  </section>
  
  <!-- Ενότητα Στόχων εργασίας -->
  <section id="mobilityAccessibility">
    <h2>Κεφάλαιο 2: Ανθρώπινη κινητικότητα και προσβασιμότητα σε έξυπνες πόλεις</h2>
    <div class="col-md-12">
      <p>Αυτή η ενότητα της εργασίας διερευνά τους κρίσιμους ρόλους της ανθρώπινης κινητικότητας και της προσβασιμότητας στην ανάπτυξη των έξυπνων πόλεων. </p>
      <p>Tο κεφάλαιο Ανθρώπινη κινητικότητα και προσβασιμότητα σε έξυπνες πόλεις τονίζει :</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Η κατανόηση της ανθρώπινης κινητικότητας είναι ζωτικής σημασίας για τον αποτελεσματικό αστικό σχεδιασμό, τη δημόσια ασφάλεια και την οικονομική ανάπτυξη. </li>
        <li class="list-group-item">Η σημασία της ενίσχυσης της προσβασιμότητας για τη δημιουργία περιεκτικών και δίκαιων αστικών περιβαλλόντων, αξιοποιώντας την τεχνολογία για την επίτευξη αυτών των στόχων.</li>
        <li class="list-group-item">Οι Τεχνολογίες όπως το IoT, τα big data analytics και οι εφαρμογές για κινητά επισημαίνονται ως μετασχηματιστικά εργαλεία που προσφέρουν καινοτόμες λύσεις σε προκλήσεις κινητικότητας και προσβασιμότητας.</li>
      </ul>
      <p>Συνολικά, το κεφάλαιο υποστηρίζει μια ολοκληρωμένη προσέγγιση με γνώμονα την τεχνολογία για τη βελτίωση τόσο της κινητικότητας όσο και της προσβασιμότητας σε έξυπνες πόλεις.
      </p>
     </div>
      </section>
  
  <!-- Ενότητα Μεθοδολογίας που ακολουθήθηκε -->
  <section id="dataManage">
    <h2>Κεφαλαιο 3: Συλλογή και ενοποίηση δεδομένων</h2>
    
  </section>

  <!-- Ενότητα του Σχεδιασμού της διαδραστικής Πλατφόρμας -->
  <section id="designPlatform">
    <h2>Κεφάλαιο 4: Σχεδιασμός της Διαδραστικής Πλατφόρμας</h2>
   
  </section>

  <!-- Ενότητα του Σχεδιασμού της διαδραστικής Πλατφόρμας -->
  <section id="deployPlatform">
    <h2>Κεφάλαιο 5: Ανάπτυξη της Διαδραστικής Πλατφόρμας</h2>
   
  </section>
  
  <!-- Ενότητα Μελέτης Περίπτωσης -->
  <section id="case-study">
    <h2>Κεφάλαιο 6: Μελέτη Περίπτωσης</h2>
    Διαθεσιμότητα δεδομένων
     Εξερεύνηση και προκλήσεις που αντιμετωπίζονται στη συλλογή δεδομένων.

Υλοποίηση πλατφόρμας
     Πώς προσαρμόστηκε και λανσαρίστηκε η πλατφόρμα στο Άμστερνταμ.

Αξιολόγηση και Αποτελέσματα
     Συγκεντρώθηκαν πληροφορίες και διδάγματα από τη μελέτη περίπτωσης.
  </section>

  <!-- Ενότητα Αποτελεσμάτων και Συζήτησης -->
  <section id="results-and-discussion">
    <h2>Κεφάλαιο 7: Αποτελέσματα και Συζήτηση</h2>
    
  </section>
</div>
<button id="btnTop" class="btn btn-secondary position-fixed bottom-0 end-0 m-3" onclick="scrollToTop()" style="display: none;">Up to Top</button>

<!-- Bootstrap JS (optional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
<script>
  // Function to scroll to the top of the page
  function scrollToTop() {
      window.scrollTo({top: 0, behavior: 'smooth'});
  }

  // Show the button when scrolling down, hide when at the top
  window.onscroll = function() {
      let btn = document.getElementById("btnTop");
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          btn.style.display = "block";
      } else {
          btn.style.display = "none";
      }
  };
</script>

</body>
</html>
