{% extends 'smartcity/layout.html' %}
{% load static %}

{% block body %}

  
    <div class="row">
      <div class="col-md-2" >
        <p>Περιεχόμενα</p>
        <!-- Sidebar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <div class="row">
                <div class="col-md-12"><li class="nav-item"><a class="nav-link" href="#introduction">Εισαγωγή</a></li></div>
                <div class="col-md-12"><li class="nav-item"><a class="nav-link" href="#mobilityAccessibility">Κινητικότητα - Προσβασιμότητα</a></li></div>
                <div class="col-md-12"><li class="nav-item"><a class="nav-link" href="#dataManage">Διαχείριση Δεδομένων</a></li></div>
                <div class="col-md-12"><li class="nav-item"><a class="nav-link" href="#designPlatform">Σχεδιασμός Πλατφόρμας</a></li></div>
                <div class="col-md-12"><li class="nav-item"><a class="nav-link" href="#deployPlatform">Ανάπτυξη Πλατφόρμας</a></li></div>
                <div class="col-md-12"><li class="nav-item"><a class="nav-link" href="#case-study">Μελέτη Περίπτωσης</a></li></div>
                <div class="col-md-12"><li class="nav-item"><a class="nav-link" href="#results-and-discussion">Αποτελέσματα και Συζήτηση</a></li></div>
              </div>    
            </ul>
          </div>
        </nav>
      </div>
      
        <!-- Main Content -->
      <div class="col-md-9">
        <!-- Ενότητα Εισαγωγής -->
        <section id="introduction">
          <h2 class="mb-4">Κεφάλαιο 1: Εισαγωγή</h2>
          
            <div class="row">
              <div class="col-md-12">
                <p>
                  Καλώς ήρθατε στη σελίδα που στοχεύει στην  οπτικοποίηση των προτύπων ανθρώπινης κινητικότητας και της προσβασιμότητας σε έξυπνες πόλεις.
                  Η κατανόηση της ανθρώπινης κινητικότητας είναι ζωτικής σημασίας για το σχεδιασμό αποτελεσματικών συστημάτων μεταφορών και τη βελτίωση της δημόσιας ασφάλειας. Η προσβασιμότητα διασφαλίζει ίσες ευκαιρίες, χωρίς αποκλεισμούς, για όλους τους πολίτες.
                  Ιδιαίτερη έμφαση δίνεται στο ρόλο της Τεχνολογίας στην αξιοποιήση του Διαδικτύου των Πραγμάτων (IoT), των δικτύων αισθητήρων και των δεδομένων κινητών συσκευών για τη συλλογή πληροφοριών σε πραγματικό χρόνο.
                </p>
                <p>Tο κεφάλαιο Εισαγωγή πραγματεύεται περιληπτικά:</p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Το πλαίσιο των έξυπνων πόλεων που αξιοποιούν την τεχνολογία και τα δεδομένα για τη βελτίωση της ποιότητας ζωής, εστιάζοντας ιδιαίτερα στην ανθρώπινη κινητικότητα και προσβασιμότητα. </li>
                  <li class="list-group-item">Υπογραμμίζει τον ρόλο της τεχνολογίας στην αντιμετώπιση αυτών των προκλήσεων.</li>
                  <li class="list-group-item">Περιγράφει τους στόχους της έρευνας, τη μεθοδολογία και τη σημασία της μελέτης.</li>
                  <li class="list-group-item">Τονίζει την ανάγκη για αποτελεσματική συλλογή και ενσωμάτωση δεδομένων.</li>
                  <li class="list-group-item">Συζητά την ενοποίηση δικτύων αισθητήρων, συσκευών IoT, δεδομένων φορητών συσκευών και δημόσιων βάσεων δεδομένων, μαζί με ζητήματα απορρήτου και δεοντολογίας δεδομένων.</li>
                  <li class="list-group-item">Υπογραμμίζει την ανάγκη για μια διαδραστική πλατφόρμα για την οπτικοποίηση αυτών των δεδομένων που θα βοηθά τους ενδιαφερόμενους φορείς και πολίτες στη λήψη τεκμηριωμένων αποφάσεων για πιο βιώσιμες και χωρίς αποκλεισμούς πόλεις</li>
                  <li class="list-group-item">Συζητά τη διαδικασία ανάπτυξης, συμπεριλαμβανομένης της ανάπτυξης frontend και backend, αρχιτεκτονικής λογισμικού, επεξεργασίας και ανάλυσης δεδομένων και ενσωμάτωσης δεδομένων σε πραγματικό χρόνο.</li>
                </ul>
                <p>
                  Συνολικά, παρουσιάζεται μια ολοκληρωμένη εισαγωγή στο σχεδιασμό και την ανάπτυξη της διαδραστικής πλατφόρμας, θέτοντας το υπόβαθρο για τα επόμενα κεφάλαια που εμβαθύνουν σε συγκεκριμένες πτυχές της δημιουργίας και της υλοποίησης της πλατφόρμας.
                </p>
              </div>
            </div>
          
          
        </section>
        
        <!-- Ενότητα Στόχων εργασίας -->
        <section id="mobilityAccessibility">
          <h2>Κεφάλαιο 2: Ανθρώπινη κινητικότητα και προσβασιμότητα σε έξυπνες πόλεις</h2>
          <div class="row">
            <div class="col-md-12">
              <p>Αυτή η ενότητα της εργασίας διερευνά τους κρίσιμους ρόλους της ανθρώπινης κινητικότητας και της προσβασιμότητας στην ανάπτυξη των έξυπνων πόλεων. </p>
              <p>Tο κεφάλαιο Ανθρώπινη κινητικότητα και προσβασιμότητα σε έξυπνες πόλεις τονίζει :</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Η κατανόηση της ανθρώπινης κινητικότητας είναι ζωτικής σημασίας για τον αποτελεσματικό αστικό σχεδιασμό, τη δημόσια ασφάλεια και την οικονομική ανάπτυξη. </li>
                <li class="list-group-item">Η σημασία της ενίσχυσης της προσβασιμότητας για τη δημιουργία περιεκτικών και δίκαιων αστικών περιβαλλόντων, αξιοποιώντας την τεχνολογία για την επίτευξη αυτών των στόχων.</li>
                <li class="list-group-item">Οι Τεχνολογίες όπως το IoT, τα big data analytics και οι εφαρμογές για κινητά επισημαίνονται ως μετασχηματιστικά εργαλεία που προσφέρουν καινοτόμες λύσεις σε προκλήσεις κινητικότητας και προσβασιμότητας.</li>
              </ul>
              <p>Συνολικά, το κεφάλαιο υποστηρίζει μια ολοκληρωμένη προσέγγιση με γνώμονα την τεχνολογία για τη βελτίωση τόσο της κινητικότητας όσο και της προσβασιμότητας σε έξυπνες πόλεις.
              </p>
            </div>
          </div>
        </section>
        
        <!-- Ενότητα Μεθοδολογίας που ακολουθήθηκε -->
        <section id="dataManage">
          <h2>Κεφαλαιο 3: Συλλογή και ενοποίηση δεδομένων</h2>
          <p>
          <i>Δίκτυα αισθητήρων και συσκευές IoT </i></br>
          Τα δίκτυα αισθητήρων και οι συσκευές IoT είναι ζωτικής σημασίας, για τη συλλογή δεδομένων ανθρώπινης κινητικότητας και την ενίσχυση της προσβασιμότητας σε έξυπνες πόλεις. Επιπλέον βοηθούν στην τεκμηριωμένη λήψη αποφάσεων και προωθούν τη δημιουργία καινοτόμων λύσεων.  
          </p>
            <ul class="list-group list-group-flush">
              <i>Δίκτυα αισθητήρων</i> 
              <li class="list-group-item">Κυκλοφορίας: Μέτρηση των συνθηκών κυκλοφορίας, όπως το φορτίο, την ταχύτητα και την πληρότητα.</li>
              <li class="list-group-item">Δημόσιων μεταφορών: Συλλέγουν δεδομένα σε πραγματικό χρόνο για τα συστήματα δημόσιων μεταφορών, συμπεριλαμβανομένης της τοποθεσίας, του αριθμού των επιβατών και της ζήτησης.</li>
              <li class="list-group-item">Στάθμευσης: Βελτιώνουν την αστική στάθμευση μειώνοντας τον χρόνο αναζήτησης, βοηθώντας σε βιώσιμες πολιτικές μεταφορών και βελτιώνοντας τη συνολική κινητικότητα.</li>
              <li class="list-group-item">Πεζών και ποδηλάτων: Παρακολούθηση των μη μηχανοκίνητων μεταφορών, ενισχύοντας την ασφάλεια, τον σχεδιασμό των υποδομών και την προώθηση βιώσιμων ταξιδιών.</li>
            </ul>
            <ul class="list-group list-group-flush">
              <i>Συσκευές IoT</i><br>
              Οι συσκευές γεφυρώνουν το χάσμα μεταξύ του φυσικού και του ψηφιακού κόσμου.
              Παρακολουθούν και ανταποκρίνονται σε διάφορους παράγοντες, όπως η κίνηση των οχημάτων και των πεζών, η διαθεσιμότητα στάθμευσης οι περιβαλλοντικές συνθήκες κ.α. </br>
              Η ενσωμάτωση τεχνολογίας αισθητήρων με προηγμένη επεξαργασία και ανάλυση δεδομένων μεταμορφώνει τις υπηρεσίες που προσφέρουν οι πόλεις.
              <li class="list-group-item">Αισθητήρες εγγύτητας: Ενισχύστε την αποτελεσματικότητα των αστικών συγκοινωνιών βοηθώντας στην έξυπνη στάθμευση, τον αποτελεσματικό έλεγχο των φωτεινών σηματοδοτών και τη διαχείριση του πλήθους.</li>
              <li class="list-group-item">Αισθητήρες θέσης και κίνησης: Κεντρική θέση στα wearables και τα έξυπνα συστήματα μεταφοράς. Ενισχύουν την προσωπική ασφάλεια, την παρακολούθηση της υγείας και την πλοήγηση σε εσωτερικούς χώρους.</li>
              <li class="list-group-item">Αισθητήρες πληρότητας: Παρακολουθήστε την πυκνότητα του πλήθους στα συστήματα μεταφορών, βελτιστοποιώντας την κατανομή πόρων και τη ροή της κυκλοφορίας.</li>
              <li class="list-group-item">Αισθητήρες ταχύτητας: Κλειδί για τη διαχείριση της κυκλοφορίας διευκολύνοντας τον προσαρμοστικό έλεγχο σημάτων κυκλοφορίας και τον εντοπισμό συμφόρησης.</li>
              <li class="list-group-item">Αισθητήρες υπερύθρων και γυροσκόπιων: ζωτικής σημασίας για αυτόνομα οχήματα. Οι αισθητήρες υπερύθρων βοηθούν στην πλοήγηση και την αποφυγή σύγκρουσης, ενώ οι αισθητήρες γυροσκοπίου διατηρούν τη σταθερότητα του οχήματος. Βοηθούν επίσης σε βοηθητικές συσκευές για άτομα με αναπηρία.</li>
            </ul>
            
        </section>

        <!-- Ενότητα του Σχεδιασμού της διαδραστικής Πλατφόρμας -->
        <section id="designPlatform">
          <h2>Κεφάλαιο 4: Σχεδιασμός της Διαδραστικής Πλατφόρμας</h2>
          <p>Το τέταρτο κεφάλαιο εστιάζει στον σχεδιασμό μιας διαδραστικής πλατφόρμας για έξυπνες πόλεις για την οπτικοποίηση και ανάλυση της ανθρώπινης κινητικότητας και προσβασιμότητας. Δίνει έμφαση σε μια προσέγγιση σχεδίασης με επίκεντρο τον χρήστη, που καλύπτει πτυχές όπως η διαισθητική πλοήγηση και οι τεχνικές οπτικοποίησης δεδομένων, συμπεριλαμβανομένων των χαρτών, των γραφημάτων και των χαρτών θερμότητας. Το κεφάλαιο εξετάζει επίσης την επαναληπτική φύση του σχεδιασμού της πλατφόρμας, που περιλαμβάνει συνεχή ανατροφοδότηση από τους χρήστες για βελτίωση. Ο απώτερος στόχος είναι να ενδυναμωθούν τα ενδιαφερόμενα μέρη με πρακτικές γνώσεις για την ανάπτυξη εξυπνότερων πόλεων χωρίς αποκλεισμούς.</p>
        </section>

        <!-- Ενότητα του Σχεδιασμού της διαδραστικής Πλατφόρμας -->
        <section id="deployPlatform">
          <h2>Κεφάλαιο 5: Ανάπτυξη της Διαδραστικής Πλατφόρμας</h2>
        
        </section>
        
        <!-- Ενότητα Μελέτης Περίπτωσης -->
        <section id="case-study">
          <h2>Κεφάλαιο 6: Μελέτη Περίπτωσης</h2>
          Διαθεσιμότητα δεδομένων
          Εξερεύνηση και προκλήσεις που αντιμετωπίζονται στη συλλογή δεδομένων.

          Υλοποίηση πλατφόρμας
          Πώς προσαρμόστηκε και λανσαρίστηκε η πλατφόρμα στο Άμστερνταμ.

          Αξιολόγηση και Αποτελέσματα
          Συγκεντρώθηκαν πληροφορίες και διδάγματα από τη μελέτη περίπτωσης.
        </section>

        <!-- Ενότητα Αποτελεσμάτων και Συζήτησης -->
        <section id="results-and-discussion">
          <h2>Κεφάλαιο 7: Αποτελέσματα και Συζήτηση</h2>
          
        </section>
      </div>
    </div>
  

  <button id="btnTop" class="btn btn-secondary position-fixed bottom-0 end-0 m-3" onclick="scrollToTop()" style="display: none;">Up to Top</button>
{% endblock %}
